<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Definir el nivel de log (INFO, DEBUG, etc.) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Configuración del appender para consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- El patrón de log -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
